.Meaning h3 {
  font-size: 30px;
  line-height: 2;
  font-weight: bold;
}

.Meaning .definition {
  font-size: 20px;
}

.Meaning .example {
  font-style: italic;
  font-size: 18px;
  opacity: 0.7;
  color: #2c1338;
}
